.App {
  text-align: center;
}

.App-logo {
  height: 7vmin;
  pointer-events: none;
  margin-right: 20px;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}