.SearchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .SearchBar input {
    width: 287px;
    padding: .88rem 0;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #010c3f;
    text-align: center;
    font-size: 1rem;

  }
  
  .SearchBar input:focus {
    outline: none;
  }

  .SearchBar button {
    margin-left: 20px;
    width: 55px;
    height: 30px;
    padding: 10px 10px 10px 30px;
    max-height: 2em;
    background-color: #FF5700;
    border-radius: 8px;
    cursor: pointer;

    text-align: center;
  }